<form method="get">
  <div class="input-form">
    <fieldset>
      <legend>Выберете X:</legend>
      <div *ngFor="let x of xValues">
        <p-radioButton name="X" [value]="x" [(ngModel)]="selectedX" [inputId]="'x' + x"></p-radioButton>
        <label [for]="'x' + x">{{ x }}</label>
      </div>
    </fieldset>
  </div>

  <div class="input-form">
    <label for="Y" style="padding-bottom: 100px;">Y = {{ yValue }} </label>
    <p-slider
      name="Y"
      [(ngModel)]="yValue"
      [min]="-5"
      [max]="3"
      [step]="0.1"
      id="Y">
    </p-slider>
  </div>

  <div class="input-form">
    <label for="R">Выберите R:</label>
    <p-select name="R" id="R" [options]="rValues" [(ngModel)]="selectedR" optionLabel="label" placeholder="Выберите R"
              (ngModelChange)="onRChange()"></p-select>
  </div>

  <p-button type="button" label="Проверить" (click)="checkPoint()" ></p-button>
</form>
