<div class="graph" >
  <svg height="400" width="400" xmlns="http://www.w3.org/2000/svg" (click)="onClick($event)">

    <!--Прямоугольник (нижняя правая область)-->
    <rect x="200" y="200" width="75" height="150" fill="#3399fe" />
    <!-- Треугольник (нижняя левая область) -->
    <polygon points="200,200 200,350 125,200" fill="#3399fe" />
    <!-- Четверть круга (верхняя левая область) -->
    <path d="M 125 200 A 75 75 0 0 1 200 125 L 200 200 Z" fill="#3399fe" />

    <line stroke="black" x1="0" x2="400" y1="200" y2="200"></line>
    <line stroke="black" x1="200" x2="200" y1="0" y2="400"></line>
    <polygon fill="black" points="200,0 194,20 206,20"></polygon>
    <polygon fill="black" points="400,200 380,206 380,194"></polygon>

    <!-- Засечки -->
    <line stroke="black" x1="275" x2="275" y1="205" y2="195"></line> <!-- R/2 на оси X -->
    <line stroke="black" x1="350" x2="350" y1="205" y2="195"></line> <!-- R на оси X -->
    <line stroke="black" x1="125" x2="125" y1="205" y2="195"></line> <!-- -R/2 на оси X -->
    <line stroke="black" x1="50" x2="50" y1="205" y2="195"></line> <!-- -R на оси X -->

    <line stroke="black" x1="195" x2="205" y1="125" y2="125"></line> <!-- R/2 на оси Y -->
    <line stroke="black" x1="195" x2="205" y1="350" y2="350"></line> <!-- -R на оси Y -->
    <line stroke="black" x1="195" x2="205" y1="275" y2="275"></line> <!-- -R/2 на оси Y -->
    <line stroke="black" x1="195" x2="205" y1="50" y2="50"></line> <!-- R на оси Y -->

    <!-- Подписи для засечек -->
    <text x="266" y="190" font-size="12">R/2</text>
    <text x="345" y="190" font-size="12">R</text>
    <text x="116" y="190" font-size="12">-R/2</text>
    <text x="45" y="190" font-size="12">-R</text>
    <text x="210" y="128" font-size="12">R/2</text>
    <text x="210" y="53" font-size="12">R</text>
    <text x="210" y="278" font-size="12">-R/2</text>
    <text x="210" y="353" font-size="12">-R</text>

    <g *ngFor="let point of points">
      <circle
        [attr.cx]="(150 * point.x) / (R ? R : 1) + 200"
        [attr.cy]="-(150 * point.y) / (R ? R : 1) + 200"
        r="5"
        [attr.fill]="isInArea(point.x, point.y, R ? R : 1) ? 'green' : 'red'"
        stroke="black"
        stroke-width="1"
        opacity="0.8"
        filter="url(#shadow)">
      </circle>
    </g>

  </svg>
</div>
