.container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 70%;
  margin: 0 auto 5px;
  border-left: solid navy;
  border-right: solid navy;
  border-bottom: solid navy;
  border-radius: 4px;
  background-color: white;
}

.container:hover {
  border-color: navy;
  outline: none;
  box-shadow: 0 0 10px navy;
  transition: box-shadow 0.3s ease;
}

.form-container, .area-container {
  flex: 1;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
}

.table-container {
  width: 100%;
}

#notification {
  margin-top: 20px;
  padding: 5px;
  border-radius: 4px;
  background-color: red;
  color: white;
}

#notification:hover {
  box-shadow: 0 0 10px red;
  transition: box-shadow 0.3s ease;
}
